<html>
<body>
    <div class="welcome-container">
        <h1>Welcome to Car Rental Application</h1>
        <p>Your trusted partner for car rentals.</p>
    </div>

    <form [formGroup]="roleForm">
        <p>Please select your role:</p>
      
        <label>
          <input type="radio" formControlName="role" value="vendor"> Vendor
        </label><br>
        
        <label>
          <input type="radio" formControlName="role" value="customer"> Customer
        </label><br><br>
    </form>
      
      <!-- Vendor Form -->
      <div *ngIf="roleForm.get('role')?.value === 'vendor'">
        <h2>Vendor Form</h2>
        <app-vendor></app-vendor>
      </div>
      
      <!-- Customer Form -->
      <div *ngIf="roleForm.get('role')?.value === 'customer'">
        <h2>Customer Form</h2>
        <app-customer></app-customer>
        
      </div>
   
    
</body>
</html>
