<html>
    <h2>Customer Form</h2>
<body>
    
    <form  (submit)="Onsubmit()">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="Address">Address:</label><br>
        <input type="tel" id="Address" name="Address" required><br><br>
        
        <label for="company">Phone:</label><br>
        <input type="text" id="company" name="company"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
